@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --search-bar-backgroud: #1D1919;
    --gen-background: #2e2e2e;
    --gen-container-background: rgba(25, 25, 25, 0.8);
    --def-container-border: rgba(255, 255, 255, 0.065);
    --def-container-background: rgba(29, 29, 29, 0.048);
    --sec-layer-background: rgba(17, 17, 17, 0.5);
    --def-text-color: #ffffff;
    --button-color: #0093D2;
    --rating-screen-border: rgba(255, 255, 255, 0.096);
    --rating-screen-text-area-active-border: rgba(255, 255, 255, 0.452);
}

* {
    padding: 0;
    margin: 0;
}

html,
body,
#root {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

#root {
    background-color: var(--gen-background);
    font-family: 'Montserrat';
    color: white;
    background-size: cover;
    background-position: center;
}

nav {
    height: 5.25rem;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    margin-bottom: 1rem;
}

main {
    min-height: calc(100vh - 5.25rem);
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    overflow: hidden;
}

.navLogo {
    width: clamp(7.5rem, 12rem, 25vw);
}

.userIcon {
    height: 2.66rem;
    border-radius: 0.5rem;
}

.searchBar {
    border: 1px solid #CAC2AB;
    width: clamp(5rem, 20vw, 15rem);
    height: 2.25rem;
    border-radius: 10rem;
    background-color: var(--search-bar-backgroud);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.searchIcon {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 0.75rem;
}

.profileContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.genContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    min-height: calc(100vh - 5.25rem);
    width: 90%;
    background-color: var(--gen-container-background);
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    padding: 2rem 0;
    backdrop-filter: blur(0.5rem);
    gap: 3rem;
}

.topHalfContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 2.66rem;
}

.albumCover {
    height: 16rem;
    width: 16rem;
    background-color: purple;
    background-size: cover;
    border-radius: 1rem;
}


.infoElement {
    padding: 0.5rem 1.25rem;
    border: 1px solid var(--def-container-border);
    background-color: var(--def-container-background);
    border-radius: 0.66rem;
    backdrop-filter: blur(1px);
}

.albumNameInfo {
    color: var(--def-text-color);
}

.albumName {
    font-size: 2rem;
    font-weight: 600;
}

.albumAuthor {
    font-size: 1.25rem;
    font-weight: 450;
}

.ratingContainer {
    display: flex;
    align-items: center;
    color: white;
    font-size: 2.25rem;
    font-weight: 600;
    gap: 1rem;
    height: 3.5rem;
    width: fit-content;
    border: 2px solid;
    padding: 0 1.5rem;
    border-radius: 55rem;
}

.albumRatingStar {
    height: 2.25rem;
    width: 2.25rem;
}

.nameReviewContainer {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.reviewNumber {
    font-weight: 600;
    font-size: 2.25rem;
}

.reviewNumberContainer {
    text-align: center;
}

.reviewInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.genInfoContainer {
    min-width: 25ch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    gap: 0.5rem
}

.genInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.125rem;
    width: 90%;
}

.genInfoText {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 100%;
    background-color: var(--sec-layer-background);
    border: 1px solid var(--def-container-border);
    border-radius: 0.33rem;
}

.responsiveContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 2.66rem;
    justify-content: center;
}

.star:hover path {
    fill: rgb(255, 255, 255);
}

.star {
    cursor: pointer;
}

.star>path {
    transition: all 0.3s ease-in-out;
    fill: rgba(0, 0, 0, 0);
}

.rated path {
    fill: white;
}

.star:has(~.star:hover) path {
    fill: white;
}

.star:hover~.star path {
    fill: rgba(0, 0, 0, 0);
}

.review {
    height: 11.313rem;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.333rem
}

#reviewComment {
    border: var(--def-container-border);
    background-color: rgba(51, 51, 51, 0.75);
    resize: none;
    height: 66%;
    overflow: hidden;
    color: white;
    width: 15rem;
    padding: 0.5rem;
}

#reviewComment:focus {
    outline: none;
    box-shadow: none;
}

.starsContainer {
    display: flex;
    justify-content: space-between;
    flex-shrink: none;
    flex-grow: none;
    width: 100%;
    align-items: center;
}

.rateButton {
    padding: 0.5rem 2rem;
    background-color: var(--button-color);
    border-radius: 0.25rem;
    cursor: pointer;
    font-weight: 600;
}

.rateButtonContainer {
    width: 100%;
    display: flex;
    justify-content: end;
}

.maximizeButton {
    height: 2.5rem;
    cursor: pointer;
}

.stars>*:not(:first-child) {
    margin-left: 0.125rem;
}

.botHalfContainer {
    display: grid;
    grid-template-columns: 5fr 2fr;
    width: clamp(100ch, 87.5%, 100rem);
    justify-content: space-between;
    gap: 1rem;
}

.commentTitle {
    background-color: black;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.25rem;
    margin: 1rem 0;
}

.commentTitle p {
    margin-left: 1rem;
}

.commentTitle a {
    margin-right: 1rem;
    text-decoration: underline;
    color: white;
}

.commentContainer {
    background-color: var(--sec-layer-background);
    border: 1px solid var(--def-container-border);
    padding: 1rem;
    margin-top: 1rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.commentRating {
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.125rem;
    font-weight: 600;
    gap: 0.5rem;
    height: 1.75rem;
    width: fit-content;
    border: 2px solid;
    padding: 0 0.5rem;
    border-radius: 55rem;
}

.commentRatingStar {
    height: 1.25rem;
    width: 1.25rem;
}

.userContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.75rem
}

.userContainer p {
    font-weight: 600;
}

.userAvatar {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 0.5rem;
    background-size: cover;
}

.commentSection {
    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);
    gap: 1rem;
    padding: 1rem;
}

.tracklist {
    min-width: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border: 1px solid var(--def-container-border);
    background-color: var(--def-container-background);
    backdrop-filter: blur(1px);
    border-radius: 0.5rem;
    width: 30ch;
    justify-self: end;
    padding: 2rem 0;
}

.tracklist p {
    font-size: 2rem;
    font-weight: 600;
}

.track {
    background-color: var(--sec-layer-background);
    word-wrap: normal;
}

.tracklistContainer>*:not(:last-child) {
    margin-bottom: 0.5rem;

}

.comments *,
.tracklist * {
    max-width: 100%;
    box-sizing: border-box;
}

.ratingScreen {
    width: clamp(20rem, 50%, 50rem);
    background-color: rgba(25, 25, 25, 0.10);
    position: fixed;
    height: fit-content;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 2rem;
    backdrop-filter: blur(5px);
    border: 2px solid var(--rating-screen-border);
    z-index: 2;
    padding: 2rem;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    opacity: 1;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 0.1s ease-in-out;
}

.ratingScreenTop {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.ratingScreenAlbumCover {
    height: 12rem;
    width: 12rem;
}

.ratingScreenTop>div:last-child {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.ratingScreenButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
}

.ratingScreenInfoContainer {
    width: 12.5rem;
    height: 4rem;
    border: 1px solid var(--def-container-border);
    background-color: var(--sec-layer-background);
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    z-index: 3;
}

.ratingScreenInfoContainer .albumAuthor {
    font-size: 1rem;
}

.ratingScreenInfoContainer .albumName {
    font-size: 1.5rem;
}

.ratingScreenComment {
    margin-top: 2rem;
    border: 1px solid var(--def-container-border);
    background-color: var(--sec-layer-background);
    border-radius: 0.5rem;
    color: white;
    backdrop-filter: blur(5px);
    z-index: 3;
    width: 80%;
    min-height: 5rem;
    height: 5rem;
    padding: 1rem;
    resize: none;
    transition: all 0.1s linear ;
}

#ratingScreenComment>* {
    margin: 1rem;
}

.ratingScreen .rateButton{
    margin-top: 1rem;
}
.closeButton {
    transform: rotate(45deg);
    cursor: pointer;
    position: absolute;
    z-index: 99;
    top: 1rem;
    right: 1rem;
    transition: all linear 0.1s;
}
.closeButton:hover{
    transform: scale(1.1) rotate(45deg) ;

}

.addList {
    gap: 0.66rem;
    font-weight: 500;
    cursor: pointer;
    transform: scale(1);
    transition: all linear 0.1s;
}
.addList:hover{
    transform: scale(1.02)
}
textarea{
    font-family: montserrat;
}
#fadeOut{
    animation: fadeIn 0.1s ease-in-out reverse;
}
textarea:focus{
    outline: none;
    border: 1px solid var(--rating-screen-text-area-active-border);
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media (max-width: 1220px) {
    .botHalfContainer {
        grid-template-columns: 1fr;
        grid-template-rows: minmax(0 1fr);
        justify-content: center;
        width: 100%;

    }

    .comments {
        width: 85%;
        margin: 0 auto;
        height: fit-content;
    }

    .userContainer {
        flex-wrap: wrap;
        justify-content: center;
    }

    .tracklist {
        min-width: 0;
        width: clamp(15rem, 75%, 30ch);
        max-width: 500px;
        margin: 20px auto 0 auto;
    }

}

@media (max-width: 800px) {

    .ratingScreen .albumCover {
        height: 15rem;
        width: 15rem;
        margin-top: 5rem;
    }

    .ratingScreen {
        width: clamp(15rem, 50%, 50rem);
        overflow: scroll;
        max-height: 70dvh;
        flex-wrap: nowrap;
        padding-top: 5rem;
    }

    .ratingScreenButtons:last-of-type .ratingScreenInfoContainer:last-of-type {
        display: none;
    }

    .ratingScreenTop>div:last-child {

        justify-content: center;
        align-items: center;
    }
    @media (max-height: 700px){
    .ratingScreen{
        padding-top: 10rem;
    }
}
}
